@import '../abstracts/functions';

// /. imports

html,
body {
    font-size: #{$font-size}px;
    height: 100%;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background-color: $white-color;
    color: $dark-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

#root,
.App,
.page {
    height: 100%;
}


.container {
    max-width: useRem(1090);
    margin: 0 auto;
    padding: 0 useRem(20);
}

.services {
    &__wrapper {
        padding-top: useRem(26);
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: useRem(30);
    }
}


.description {
    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: useRem(12);
        }
    }

    &__item-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: useRem(20);
    }

    &__item--time {
        align-items: flex-start;

        .description__link {
            margin: 0 0 useRem(10) 0;
        }
    }

    &__link {
        margin-left: useRem(20);
        line-height: useRem(18);
    }

}

.flight-time {
    &__option {
        padding: useRem(4) useRem(12);
        border-radius: useRem(10);
        background-color: $light-blue-color;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: rgba($color: $blue-color, $alpha: .4);
        }

        &:not(:last-child) {
            margin-right: useRem(4);
        }
    }
}

.price {

    display: flex;
    flex-direction: column;

    &__value {
        color: $dark-color;
        font-weight: 400;
    }

    &__value--general {
        font-weight: normal;
        text-transform: uppercase;
        font-size: useRem(30);
    }

    &__valueprice__value--additional {
        font-size: useRem(10);
    }
}