@import '../../assets/styles/abstracts/functions';

// /. imports

.flight-time {
    &__wrapper {
        display: grid;
        grid-gap: useRem(8);
    }

    &__option {
        text-align: center;
        padding: useRem(4) useRem(12);
        border-radius: useRem(10);
        background-color: $light-blue-color;
        transition: all .3s ease-in-out;
        font-size: useRem(14);

        &:hover {
            background-color: rgba($color: $blue-color, $alpha: .4);
        }
    }

    &__option.selected {
        background-color: #6BA6FF;
    }

    &__option.hidden {
        display: none
    }

    &__button {
        @extend .flight-time__option;

        &:hover {
            background-color: rgba($color: rgb(5, 184, 5), $alpha: .4);
        }
    }

    &__button--hide {
        &:hover {
            background-color: rgba(#444, $alpha: .4);
        }
    }
}