@import '../../assets/styles/abstracts/functions';

// /. imports

.description {
    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: useRem(12);
        }
    }

    &__item-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: useRem(20);

        .description__link {
            margin: 0 useRem(10) 0 0;
        }
    }

    &__item--time {
        align-items: flex-start;
    }

    &__link {
        margin-left: useRem(20);
        font-size: useRem(14);
        line-height: useRem(18);
    }

}