@import '../../assets/styles/abstracts/functions';

// /.imports

.nav {
    &__menu {
        display: flex;
        justify-content: center;
        padding: useRem(30) 0;
    }

    &__item {

        &:not(:last-child) {
            margin: 0 useRem(10) 0 0;
        }
    }

    &__link {
        border-bottom: useRem(1) solid transparent;
        font-weight: 600;
        color: $dark-color;
    }

    &__link.active {
        border-color: blue;
    }
}