@import '../../assets/styles/abstracts/functions';

// /.imports

.nav {
    &__menu {
        display: flex;
        justify-content: center;
        padding: useRem(30) 0;
    }

    &__item {

        &:not(:last-child) {
            margin: 0 useRem(10) 0 0;
        }
    }

    &__link {
        font-weight: 600;
        color: $dark-color;
    }

    &__link.nav__link--main.active {
        color: orange;
    }

    &__link.nav__link--js.active {
        color: $yellow-color;
    }
}